[submodule "TruthWear---Backend"]
	path = TruthWear---Backend
	url = https://github.com/Tahmeerpasha/TruthWear---Backend/tree/master
[submodule "TruthWear---FrontEnd"]
	path = TruthWear---FrontEnd
	url = https://github.com/Tahmeerpasha/TruthWear---FrontEnd/tree/master
