[submodule "TruthWear---Backend"]
	path = TruthWear---Backend
	url = https://github.com/Tahmeerpasha/TruthWear---Backend.git
[submodule "TruthWear---FrontEnd"]
	path = TruthWear---FrontEnd
	url = https://github.com/Tahmeerpasha/TruthWear---FrontEnd.git
